@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #A84448;
    --cor-secundaria: #F6E1C3;
    --cor-tercearia: #E9A178;
    --cor-hover: #7A3E65;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrast', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.87rem;
    font-weight: 600;
    color: var(--cor-tercearia);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-hover);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-tercearia);
    text-decoration: none;
}

.titulo-destaque:hover {
    color: #7A3E65;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__texto__info {
    color: var(--cor-tercearia);
    text-decoration: none;
}

.apresentacao__conteudo__texto__info:hover {
    color: var(--cor-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 3px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-tercearia);
}

.apresentacao__imagems {
    position: relative;
    display: flex;
    justify-content: center;
}


.apresentacao__imagem {
    width: 50%;
    border-radius: 80px;
}

/*.apresentacao__imagem2 {
    border-radius: 80px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.apresentacao__imagem2:hover {
    opacity: 1;
}*/

.rodape {
    padding: 24px;
    color: var(--cor-secundaria);
    background-color: var(--cor-tercearia);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
}

@media (max-width: 1000px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        gap: 40px;
        flex-direction: column;
        text-align: start;
        justify-content: center;
        
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}